/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMONS */

.container {
    width: 70%;
    margin: 0 auto;
}

body {
    background-color: #b91450;
}

section {
    margin: 2rem 0;
}

.red {
    color: b91450;
}

h2 {
    color: white;
    text-transform: uppercase;
    text-align: center;
    margin: 1rem 0;
}

.card {
    background-color: white;
    padding: 2rem;
}

.radius {
    border-radius: 1rem;
}

.d-none {
    display: none;
}

.active {
    display: block;
}

/* ticket calculator section */

.user-form {
    display: flex;
    justify-content: center;
}

.form-item {
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    color: b91450;
}



input, select {
    margin-top: 1rem;
    padding: 3px 0;
    font-weight: 600;
}

input {
    text-align: center;

}

.buttons {
    text-align: center;
    margin-top: 3rem;
}

.btn {
    margin: 0 1rem;
    padding: 5px;
    font-size: 1rem;
    font-weight: 800;
}